.page-header {
    background-color:#333;
    margin: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #F21137;
    font-family: 'Lobster';
    font-size: 36pt;
    text-decoration: none;
    margin-left: 0px;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}



.Information h1 a, .Information h1 a:visited {
    color: #F21137;
    font-family: 'Lobster';

}

ul.topnav {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: Calibri;
    color: #F21137;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
